 /* Elements should use the following standard spacing values for margins, padding, and gaps.
   | Target device | Small spacing | Large spacing |
   | ------------- | ------------- | ------------- |
   | Mobile        | `16px`        | `16px`        |
   | Tablet        | `16px`        | `32px`        |
   | Desktop       | `16px`        | `48px`        | */

.mobile-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid black;
}

.nav-header h1 {
  font-size: 2em;
}

button {
  font-size: 2em;
  border-radius: 10px;
  padding: 16px;
}

.main-content {
  display: grid;
  justify-content: center;
  grid-gap: 16px;
}

.movie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  /* margin: 16px; */
}

.movie-desc, .watch-btn {
  padding: 16px;
}

.movie-container p {
  font-size: 1.5em
}

.poster {
  margin: 0 auto;
  border: 1px solid black;
}

.poster img {
  display: block;
  max-width: 100%;
}